@font-face {
	font-family: 'Lato-Light';
	src: url('./fonts/Lato-Light.ttf');
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('./fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('./fonts/Lato-Bold.ttf');
}

@font-face {
	font-family: 'Lato-Black';
	src: url('./fonts/Lato-Black.ttf');
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.body {
	scroll-behavior: smooth;
	background: #fff;
}

.header {
	width: 1600px;
	margin: 0px auto;
	background-color: #222;
	display: flex;
	justify-content: space-between;
}

.left_header_group {
	margin: 18px auto 19px 231px;
	display: flex;
	justify-content: space-between;
	align-items: end;
	gap: 41px;
}

.right_header_group {
	width: 159px;
	margin: 26px 240px 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 41px;
}

.header_button {
	background: none;
	border: none;
}

.main_logo {
	width: 1600px;
	margin: 0px auto;
	background-color: #f1e4e6;
	display: flex;
	justify-content: center;
}

.main_banner {
	margin: 290px 331px 381px 63px;
	border-left: 12px solid #f16d7f;
	padding-left: 16px;
}

.main_logo_header1 {
	color: #222;
	font-family: Lato-Black;
	font-size: 48px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.main_logo_header2 {
	color: #222;
	font-family: Lato-Bold;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.main_logo_span {
	color: #f16d7f;
}

.offer {
	width: 1140px;
	margin: 65px auto 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.offer_for_men_background {
	width: 360px;
	height: 260px;
	background-image: url(./img/offer_for_men.png);
}

.offer_for_women_background {
	width: 360px;
	height: 260px;
	background-image: url(./img/offer_for_women.png);
}

.offer_for_kids_background {
	width: 360px;
	height: 260px;
	background-image: url(./img/offer_for_kids.png);
}

.offer_accesories_background {
	width: 1140px;
	height: 180px;
	background-image: url(./img/offer-accesories.png);
}

.filler {
	background-color: rgba(33, 22, 22, 0.7);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.offer_header3 {
	color: #f16d7f;
	font-family: Lato-Bold;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.offer_header4 {
	color: #fff;
	text-align: center;
	font-family: Lato-Regular;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.products {
	width: 1140px;
	margin: 96px auto 0px;
}

.products_header3 {
	color: #222;
	font-family: Lato-Regular;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 6px;
	text-align: center;
}

.products_subheader {
	color: #9f9f9f;
	font-family: Lato-Regular;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 48px;
	text-align: center;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.card {
	background-color: #f8f8f8;
	/* margin-bottom: 25px; */
}

.card_header {
	width: 315px;
	color: #000;
	font-family: Lato-Regular;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 25px 18px 0px;
}

.card_text {
	width: 315px;
	color: #5d5d5d;
	font-family: Lato-Light;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin: 16px 18px;
}

.card_price {
	width: 315px;
	color: #f16d7f;
	font-family: Lato-Regular;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 18px 18px 20px;
}

.products_button_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.browse_all_button {
	width: 212px;
	margin-top: 48px;
	margin-bottom: 60px;
	border: 2px solid #ff6a6a;
	background-color: #fff;
}

.browse_all_button_text {
	margin: 15px auto;
	color: #f26376;
	font-family: Lato-Regular;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

@media (max-width: 1024px) and (min-width: 768px) {
	.header {
		width: 768px;
	}

	.left_header_group {
		margin: 18px auto 18px 32px;
	}

	.right_header_group {
		margin: 27px 41px 18px auto;
	}

	.main_logo {
		width: 768px;
		margin: 0px auto;
	}

	.main_logo img {
		width: 386px;
		height: 368px;
	}

	.main_banner {
		margin: auto 33px auto auto;
		border-left: 12px solid #f16d7f;
		padding-left: 16px;
	}

	.main_logo_header1 {
		color: #222;
		font-family: Lato-Black;
		font-size: 44px;
	}

	.main_logo_header2 {
		font-size: 24px;
	}

	.main_logo_span {
		color: #f16d7f;
	}

	.offer {
		width: 768px;
		margin: 65px auto 0px;
		gap: 20px;
	}

	.offer_for_men_background {
		width: 232px;
		height: 168px;
		background-image: url(./img/offer_for_men.png);
		background-size: contain;
	}

	.offer_for_women_background {
		width: 232px;
		height: 168px;
		background-image: url(./img/offer_for_women.png);
		background-size: contain;
	}

	.offer_for_kids_background {
		width: 232px;
		height: 168px;
		background-image: url(./img/offer_for_kids.png);
		background-size: contain;
	}

	.offer_accesories_background {
		width: 735px;
		height: 116px;
		background-image: url(./img/offer-accesories.png);
		background-size: contain;
	}

	.products {
		width: 768px;
		margin: 110px auto 0px;
	}

	.products_subheader {
		margin-bottom: 73px;
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 16px;
	}

	.card_header {
		margin: 25px auto 0px 18px;
	}
	.card_price {
		margin: 18px auto 20px 18px;
	}

	.browse_all_button {
		margin-top: 32px;
		margin-bottom: 70px;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.header {
		width: 375px;
	}

	.left_header_group {
		margin: 18px auto 18px 16px;
	}

	.right_header_group {
		margin: 25px 16px 26px auto;
		justify-content: right;
	}

	.hidden {
		display: none;
	}

	.main_logo {
		width: 375px;
	}

	.main_banner {
		margin: 148px 56px;
		padding-left: 15px;
	}

	.main_logo_header1 {
		font-size: 38px;
	}

	.main_logo_header2 {
		font-size: 20px;
	}

	.main_logo_span {
		color: #f16d7f;
	}

	.offer {
		width: 375px;
		gap: 32px;
	}

	.offer_for_men_background .offer_for_women_background .offer_for_kids_background {
		width: 343px;
		height: 247px;
		background-position: center;
		background-size: cover;
	}

	.offer_accesories_background {
		width: 343px;
		height: 111px;
		background-position: center;
		background-size: cover;
	}

	.products {
		width: 375px;
	}

	.cards {
		justify-content: center;
		gap: 16px;
	}

	.card_header {
		margin: 25px auto 0px 18px;
	}

	.card_text {
		margin: 13px auto 18px 18px;
	}

	.card_price {
		margin: 18px auto 20px 18px;
	}

	.card_image {
		width: 359px;
		height: 420px;
		background-position: center;
		background-size: cover;
	}

	.browse_all_button {
		margin-top: 40px;
		margin-bottom: 85px;
	}
}
